	body {
        font: 12px/18px "lucida grande",tahoma,verdana,arial,sans-serif;
        color: #000;
        margin:0;
        background-color:#FFF;
	}
    #content_block {
        float:left;
        padding:8px;
        margin:5px 20px 5px 5px;
    }
    #content_logo {
        float:left;
    }
    #content_text {
        float:left;
        margin:5px 0px 0px 10px;
        width:220px;
    }
    #content_close {
        position: fixed;
        top:5px;
        right:5px;
        display:none;
    }
	.close_icon {
		display: block;
		background-image: url(../img/buttons.png);
		background-repeat: no-repeat;
		width: 16px;
		height: 16px;	
		background-position: -25px 0;
	}
	#removesiteid {
		float:left;
		text-decoration:underline;
	}
	#sendbutton {
		width: 103px;
		background-position: 0 -78px;
		background-color: transparent;
		background-repeat: no-repeat;
		color: #FFFFFF;
		font-size: 11px;
		font-weight: bold;
		text-decoration: none;
		text-align: center;
		height: 26px;
		line-height: 25px;
		padding: 0 0 5px 16px;
		margin-top:5px;
		cursor: pointer;
		border: 0 none;
		display: block;
		background-image: url(../img/btn_normal_form.gif)
	}
	.bollink {
		color:#36c;
	}
	#addsubid {
		float:left;
	}
	#addsubid small {
		text-decoration:underline;
	}
	#content_logo {
		display:none;
	}
	.fleft {
		float:left;
	}
	.buttonblock {
		margin-top:5px;
	}
	.textblock {
		margin-top:5px;
	}
	.clearer {
		clear:both;
	}